@using System.Security.Claims
@model IEnumerable<FridgesViewModel>;

@{
    var isAdmin = User.Identities.ToList()[0]
        .Claims.ToList()[1].Value == "Administrator";
}

<h2>All fridges</h2>
<br/>
<div>
    <div class="list-group">
        <form method="get">
            <button type="submit" class="btn btn-primary mb-2" asp-controller="Fridges" asp-action="AddFridge">Add new fridge</button>
        </form>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <td>Id</td>
                    <td>Fridge name</td>
                    <td>Owner</td>
                    @if (isAdmin)
                    {
                        <td colspan="2">Actions</td>
                    }
                   
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.OwnerName</td>
                        @if (isAdmin)
                        {
                            <td>
                                <form method="get">
                                    <button type="submit" class="btn btn-primary mb-2" asp-controller="Fridges" asp-action="UpdateFridge" asp-route-id="@item.Id">Update</button>
                                </form>
                            </td>
                            <td>
                                <form method="get">
                                    <button type="submit" class="btn btn-primary mb-2 bg-danger" asp-controller="Fridges" asp-action="DeleteFridge" asp-route-id="@item.Id">Delete</button>
                                </form>
                            </td>
                        }
                        
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
